services:
  - type: web
    name: house-rental-backend
    env: node
    rootCommand: cd backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
    autoDeploy: true
